<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>IF4HEALTH Site Management</title>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">  
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://if4health.netlify.app//css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://if4health.netlify.app//css/timeline.css">

  </head>
<body>
  <nav name="topo" class="navbar navbar-expand-lg navbar-dark">
    <button class="navbar-toggler" data-target="#myNavbar" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="navbar-nav">
        <li>
          <a class="nav-link" href="/"><i aria-hidden="true" class="fa fa-lg fa-home"></i> Home</a>
        </li>
        <li>
          <a class="nav-link" href="/students"><i aria-hidden="true" class="fa fa-lg fa-users"></i> Alunos</a>
        </li>
        <li>
          <a class="nav-link" href="/works"><i aria-hidden="true" class="fa fa-lg fa-file-text"></i> Publicações</a> 
        </li>
        <li>
          <a class="nav-link" href="/projects"><i aria-hidden="true" class="fa fa-lg fa-file-text"></i> Projetos</a> 
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-9 m-auto">
        <h1 class="text-center display-4 my-4"> CRUD de Publicações - IF4Health</h1>
        <form enctype="multipart/form-data" action="/works/myForm" method="POST">
          
          <div class="form-group">
            <label>Upload do trabalho</label>
            <input class="form-control-file" type="file" name="mywork" required>
            <small class="form-text text-muted">Apenas arquivos PDF</small>
          </div>

          <div class="form-group">
            <label>Titulo do trabalho:</label>
            <input class="form-control" type="text" placeholder="CloudECG - servico web para processamento de ECGs" name="titulo" required>
          </div>

          <div class="form-group">
            <label>Tipo de Publicacao/Evento:</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="tipo" value="TCC" required>
              <label class="form-check-label">TCC</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="tipo" value="Conferência">
              <label class="form-check-label">Conferencia</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="tipo" value="Periódico">
              <label class="form-check-label">Periodico</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="tipo" value="Pôster">
              <label class="form-check-label">Pôster</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="tipo" value="Palestra">
              <label class="form-check-label">Palestra</label>
            </div>
          </div>

          <div class="form-group">
            <label>Nome da Publicacao/Evento:</label>
            <input class="form-control" type="text" placeholder="XIV MOCITEC - Mostra de Ciências e Tecnologias" name="periodico" required>
          </div>

          <div class="form-group">
            <label>Local da Publicacao/Evento:</label>
            <input class="form-control" type="text" placeholder="IFSul Câmpus Charqueadas" name="local" required>
          </div>

          <div class="form-group">
            <label>Data da Publicacao/Evento:</label>
            <input class="form-control" type="date" name="data" required>
          </div>

          <div class="form-group">
            <label>Link do trabalho:</label>
            <input class="form-control" type="text" placeholder="https://ieeexplore.ieee.org/document/8050947" name="link">
          </div>

          <div class="form-group">
            <h3><label>Autores:</label></h3>
            <small class="form-text text-muted">Nome completo por extenso</small>
            <input class="form-control" type="text" placeholder="Autor Principal" name="autor1" required>
            <input class="form-control" type="text" placeholder="Orientador" name="orientador" required>
            <input class="form-control" type="text" placeholder="Coorientador" name="coorientador">
            <input class="form-control" type="text" placeholder="Outro Autor" name="autor2">
            <input class="form-control" type="text" placeholder="Outro Autor" name="autor3">
          </div>

          <button type="submit" class="btn btn-success btn-block">Submit</button>

        </form>
      </div>
    </div>
  </div>
  <hr>
  <h1> Painel de Publicações </h1>

  <!-- <table class="table table-sm">
  <thead class="thead-dark">
    <tr>
      <th>Botoes</th>
      <th>Titulo</th>
      <th>Periodico</th>
      <th>Data</th>
      <th>Local</th>
      <th>Autores</th>
    </tr>
  </thead>

    <% const month = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"];
        for(var i = 0; i < works.length; i++) {
    %>
    <tr>
      <td class="btn-group">
          <a href="/pdf/<%= works[i].mywork %>" class="btn btn-outline-success btn-sm" target="_blank" role="button"><i aria-hidden="true" class="fa fa-download"></i></a>
          <% if(works[i].link != "") {%>
            <a href="<%= works[i].link %>" class="btn btn-outline-success btn-sm" target="_blank" role="button">Link &raquo;</a>
          <% }%>
          <button class="btn btn-outline-danger btn-sm delete-paper" name="<%= works[i]._id %>"><i aria-hidden="true" class="fa fa-trash"></i></button>
      </td>
      <td><%= works[i].titulo %></td>
      <td><strong><%= works[i].tipo %></strong> - <%= works[i].periodico %></td>
      <td> <%= works[i].data.getUTCDate() + '-' + month[works[i].data.getUTCMonth()] + '-' + works[i].data.getFullYear() %> </td>
      <td><%= works[i].local %></td>
      <td><%= works[i].authors %></td>
    </tr>
    <% } %>
  </table> -->
  
  <script src="/javascripts/new-main.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>